body {
    font-family: Arial, sans-serif;
    background-color: #E5B8F4;
    margin: 0;
    padding: 0;
}

/* === Override Bootstrap Navbar Colors === */
#navbar {
  background: transparent;
  transition: all 0.3s ease-in-out;
  background-color: transparent;
  transition: background-color 0.3s ease; /* smooth transition if changing on scroll */
  backdrop-filter: blur(10px);
}

/* Make logo and all nav links white by default */
#navbar .navbar-brand,
#navbar .nav-link {
  color: white !important;
  font-weight: 500;
  font-size: 18px;
  transition: color 0.3s ease;
}

/* Hover and active effects */
#navbar .nav-link:hover,
#navbar .nav-link.active {
  color: #C147E9 !important; /* your purple shade */
} 

/* For toggler icon (hamburger) */
.navbar-toggler {
  border: none;
}

.navbar-toggler .hamburger-menu {
  color: white !important;
  font-size: 1.8rem;
}


.heading{
    font-size: 40px;
    font-weight: bolder;
}


.articles {
    padding: 80px 20px 40px;
    text-align: center;
}

.logo-img {
  width: 70px;
  height: 60px;
}

.navbar-brand img {
    height: 50px;
    width: 80px;
}